<a href="https://colab.research.google.com/github/prafuldash/MyScala_Work/blob/master/Mypythonwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello PRAFUL")

Hello PRAFUL

In [10]:
class employee():

    def __init__(self,name,age,id,salary):
     self.name=name
     self.id=id
     self.age=age
     self.salary=salary

emp1=("PRAFUL",33,3333,2234)
emp2=("PRAddFUL",3333,4433,1234)
print(emp1,emp2)

('PRAFUL', 33, 3333, 2234) ('PRAddFUL', 3333, 4433, 1234)

In [19]:
class car:
  def __init__(self,modelname,year):
    self.modelname=modelname
    self.year=year

  def display(self):
      print(self.modelname,self.year)

c1=car("Toyota",2022)
c1.display()
#print(c1)

Toyota 2022

In [23]:
f= open('file.txt','r')
f.read(3)
f.close()

In [27]:
a=open('file.txt','a')
a.write("I m PRAFUL KUMAR DASH FROM INDIA")
a.close()

In [32]:
a=open('file.txt','r')
for x in a:
 print(x)
a=open('file.txt','r')
for x in a:
 print(x)
a.close()a.close()

Streaming output truncated to the last 5000 lines.



sudo hadoop fs -mkdir /user/hduser

hadoop fs -copyFromLocal test.txt /user/spark

bin/rbe-env.sh shutdown

hadoop fs -ls /user

sudo bash

 su hdfs

  hadoop fs -mkdir /user/hduser

  hadoop fs -chown -R hduser:supergroup /user/hduser



  http://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.1.7/bk_installing_manually_book/content/rpm-chap-hue-2.html



  http://gethue.com/hadoop-hue-3-on-hdp-installation-tutorial/

  http://gethue.com/how-to-deploy-hue-on-hdp/

updates

insert

delete



INSERT INTO TABLE students VALUES ('fred flintstone', 35, 1.28), ('barney rubble', 32, 2.32);



UPDATE students SET name='PRAFUL', age='28' WHERE name='Alfreds Futterkiste';



CREATE TABLE students (name VARCHAR(64), age INT, gpa DECIMAL(3, 2))

  CLUSTERED BY (age) INTO 2 BUCKETS STORED AS ORC;



13016288



set hive.execution.engine=tez;

set hive.execution.engine=mr;

set hive.enable.mrr=true;

set hive.use.tez.natively=true;



--http://hadooptutorial.info/hive-database-commands/





--SELECT current_database() //(as of Hive 0.13.0)



Hive data types

BIGINT Data Type

BOOLEAN Data Type

CHAR Data Type (CDH 5.2 or higher only)

DECIMAL Data Type (CDH 5.1 or higher only)

DOUBLE Data Type

FLOAT Data Type

INT Data Type

REAL Data Type

SMALLINT Data Type

STRING Data Type

TIMESTAMP Data Type

TINYINT Data Type

VARCHAR Data Type (CDH 5.2 or higher only)



1. Numeric Types

TINYINT (1-byte signed integer, from -128 to 127)

SMALLINT (2-byte signed integer, from -32,768 to 32,767)

INT (4-byte signed integer, from -2,147,483,648 to 2,147,483,647)

BIGINT (8-byte signed integer, from -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807)

FLOAT (4-byte single precision floating point number)

DOUBLE (8-byte double precision floating point number)

DECIMAL (Hive 0.13.0 introduced user definable precision and scale)

2. Date/Time Types

TIMESTAMP

DATE

3. String Types

STRING

VARCHAR

CHAR

4. Misc Types

BOOLEAN

BINARY

Apart from these primitive data types Hive offers some complex data types which are listed below:



5. Complex Types

arrays: ARRAY<data_type>

maps: MAP<primitive_type, data_type>

structs: STRUCT<col_name : data_type [COMMENT col_comment], ...>

union: UNIONTYPE<data_type, data_type, ...>



******hive******

>org.apache.hadoop.hive.ql.lockmgr.DummyTxnManager







http://datametica.com/introduction-to-hive-transactions/



http://pivotalhd.docs.pivotal.io/docs/hive-users-guide.html





create table praful(id int, id2 string)

clustered by (id) into 8 buckets

stored as orc TBLPROPERTIES ('transactional'='true');

insert into table PRAFUL values(1,'abc');

UPDATE praful SET id2='praful' WHERE id=1;



delete from praful where id=1;



hive







172.19.36.143---https://cwiki.apache.org/confluence/display/Hive/Tutorial





https://cwiki.apache.org/confluence/display/Hive/Tutorial



CREATE TABLE page_view(viewTime INT, userid BIGINT,

                page_url STRING, referrer_url STRING,

                ip STRING COMMENT 'IP Address of the User')

COMMENT 'This is the page view table'

PARTITIONED BY(dt STRING, country STRING)

STORED AS SEQUENCEFILE;





CREATE TABLE page_view(viewTime INT, userid BIGINT,

                page_url STRING, referrer_url STRING,

                ip STRING COMMENT 'IP Address of the User')

COMMENT 'This is the page view table'

PARTITIONED BY(dt STRING, country STRING)

ROW FORMAT DELIMITED

        FIELDS TERMINATED BY '1'

STORED AS SEQUENCEFILE;





CREATE TABLE page_view(viewTime INT, userid BIGINT,

                page_url STRING, referrer_url STRING,

                ip STRING COMMENT 'IP Address of the User')

COMMENT 'This is the page view table'

PARTITIONED BY(dt STRING, country STRING)

CLUSTERED BY(userid) SORTED BY(viewTime) INTO 32 BUCKETS

ROW FORMAT DELIMITED

        FIELDS TERMINATED BY '1'

        COLLECTION ITEMS TERMINATED BY '2'

        MAP KEYS TERMINATED BY '3'

STORED AS SEQUENCEFILE;





CREATE TABLE page_view(viewTime INT, userid BIGINT,

                page_url STRING, referrer_url STRING,

                friends ARRAY<BIGINT>, properties MAP<STRING, STRING>

                ip STRING COMMENT 'IP Address of the User')

COMMENT 'This is the page view table'

PARTITIONED BY(dt STRING, country STRING)

CLUSTERED BY(userid) SORTED BY(viewTime) INTO 32 BUCKETS

ROW FORMAT DELIMITED

        FIELDS TERMINATED BY '1'

        COLLECTION ITEMS TERMINATED BY '2'

        MAP KEYS TERMINATED BY '3'

STORED AS SEQUENCEFILE;









SHOW TABLES;

SHOW TABLES 'page.*';

SHOW PARTITIONS page_view;

DESCRIBE page_view;

DESCRIBE EXTENDED page_view;

DESCRIBE EXTENDED page_view PARTITION (ds='2008-08-08');

ALTER TABLE old_table_name RENAME TO new_table_name;

ALTER TABLE old_table_name REPLACE COLUMNS (col1 TYPE, ...);

ALTER TABLE tab1 ADD COLUMNS (c1 INT COMMENT 'a new int column', c2 STRING DEFAULT 'def val');

DROP TABLE pv_users;

ALTER TABLE pv_users DROP PARTITION (ds='2008-08-08')



Loading Data-----



CREATE EXTERNAL TABLE page_view_stg(viewTime INT, userid BIGINT,

                page_url STRING, referrer_url STRING,

                ip STRING COMMENT 'IP Address of the User',

                country STRING COMMENT 'country of origination')

COMMENT 'This is the staging page view table'

ROW FORMAT DELIMITED FIELDS TERMINATED BY '44' LINES TERMINATED BY '12'

STORED AS TEXTFILE

LOCATION '/user/data/staging/page_view';



hadoop dfs -put /tmp/pv_2008-06-08.txt /user/data/staging/page_view



FROM page_view_stg pvs

INSERT OVERWRITE TABLE page_view PARTITION(dt='2008-06-08', country='US')

SELECT pvs.viewTime, pvs.userid, pvs.page_url, pvs.referrer_url, null, null, pvs.ip

WHERE pvs.country = 'US';





LOAD DATA LOCAL INPATH /tmp/pv_2008-06-08_us.txt INTO TABLE page_view PARTITION(date='2008-06-08', country='US')





LOAD DATA INPATH '/user/data/pv_2008-06-08_us.txt' INTO TABLE page_view PARTITION(date='2008-06-08', country='US')



INSERT OVERWRITE TABLE user_active

SELECT user.*

FROM user

WHERE user.active = 1;



SELECT user.*

FROM user

WHERE user.active = 1;



INSERT OVERWRITE TABLE xyz_com_page_views

SELECT page_views.*

FROM page_views

WHERE page_views.date >= '2008-03-01' AND page_views.date <= '2008-03-31' AND

      page_views.referrer_url like '%xyz.com';







INSERT OVERWRITE TABLE pv_users

SELECT pv.*, u.gender, u.age

FROM user u JOIN page_view pv ON (pv.userid = u.id)

WHERE pv.date = '2008-03-03';







INSERT OVERWRITE TABLE pv_users

SELECT pv.*, u.gender, u.age

FROM user u FULL OUTER JOIN page_view pv ON (pv.userid = u.id)

WHERE pv.date = '2008-03-03';





In order check the existence of a key in another table, the user can use LEFT SEMI JOIN as illustrated by the following example.

INSERT OVERWRITE TABLE pv_users

SELECT u.*

FROM user u LEFT SEMI JOIN page_view pv ON (pv.userid = u.id)

WHERE pv.date = '2008-03-03';





In order to join more than one tables, the user can use the following syntax:

INSERT OVERWRITE TABLE pv_friends

SELECT pv.*, u.gender, u.age, f.friends

FROM page_view pv JOIN user u ON (pv.userid = u.id) JOIN friend_list f ON (u.id = f.uid)

WHERE pv.date = '2008-03-03';







In order to count the number of distinct users by gender one could write the following query:

INSERT OVERWRITE TABLE pv_gender_sum

SELECT pv_users.gender, count (DISTINCT pv_users.userid)

FROM pv_users

GROUP BY pv_users.gender;





Multiple aggregations can be done at the same time, however, no two aggregations can have different DISTINCT columns .e.g while the following



is possible

INSERT OVERWRITE TABLE pv_gender_agg

SELECT pv_users.gender, count(DISTINCT pv_users.userid), count(*), sum(DISTINCT pv_users.userid)

FROM pv_users

GROUP BY pv_users.gender;





however, the following query is not allowed

INSERT OVERWRITE TABLE pv_gender_agg

SELECT pv_users.gender, count(DISTINCT pv_users.userid), count(DISTINCT pv_users.ip)

FROM pv_users

GROUP BY pv_users.gender;





FROM pv_users

INSERT OVERWRITE TABLE pv_gender_sum

    SELECT pv_users.gender, count_distinct(pv_users.userid)

    GROUP BY pv_users.gender



INSERT OVERWRITE DIRECTORY '/user/data/tmp/pv_age_sum'

    SELECT pv_users.age, count_distinct(pv_users.userid)

    GROUP BY pv_users.age;











FROM page_view_stg pvs

INSERT OVERWRITE TABLE page_view PARTITION(dt='2008-06-08', country='US')

       SELECT pvs.viewTime, pvs.userid, pvs.page_url, pvs.referrer_url, null, null, pvs.ip WHERE pvs.country = 'US'

INSERT OVERWRITE TABLE page_view PARTITION(dt='2008-06-08', country='CA')

       SELECT pvs.viewTime, pvs.userid, pvs.page_url, pvs.referrer_url, null, null, pvs.ip WHERE pvs.country = 'CA'

INSERT OVERWRITE TABLE page_view PARTITION(dt='2008-06-08', country='UK')

       SELECT pvs.viewTime, pvs.userid, pvs.page_url, pvs.referrer_url, null, null, pvs.ip WHERE pvs.country = 'UK';







FROM page_view_stg pvs

INSERT OVERWRITE TABLE page_view PARTITION(dt='2008-06-08', country)

       SELECT pvs.viewTime, pvs.userid, pvs.page_url, pvs.referrer_url, null, null, pvs.ip, pvs.country





set hive.exec.dynamic.partition.mode=nonstrict;

    beeline> FROM page_view_stg pvs

          INSERT OVERWRITE TABLE page_view PARTITION(dt, country)

                 SELECT pvs.viewTime, pvs.userid, pvs.page_url, pvs.referrer_url, null, null, pvs.ip,

                        from_unixtimestamp(pvs.viewTime, 'yyyy-MM-dd') ds, pvs.country;

...

2010-05-07 11:10:19,816 Stage-1 map = 0%,  reduce = 0%

[Fatal Error] Operator FS_28 (id=41): fatal error. Killing the job.

Ended Job = job_201005052204_28178 with errors

...





set hive.exec.dynamic.partition.mode=nonstrict;

beeline> FROM page_view_stg pvs

      INSERT OVERWRITE TABLE page_view PARTITION(dt, country)

             SELECT pvs.viewTime, pvs.userid, pvs.page_url, pvs.referrer_url, null, null, pvs.ip,

                    from_unixtimestamp(pvs.viewTime, 'yyyy-MM-dd') ds, pvs.country

             DISTRIBUTE BY ds, country;





INSERT OVERWRITE LOCAL DIRECTORY '/tmp/pv_gender_sum'

SELECT pv_gender_sum.*

FROM pv_gender_sum;





INSERT OVERWRITE TABLE pv_gender_sum_sample

SELECT pv_gender_sum.*

FROM pv_gender_sum TABLESAMPLE(BUCKET 3 OUT OF 32);





TABLESAMPLE(BUCKET x OUT OF y)



TABLESAMPLE(BUCKET 3 OUT OF 16)



TABLESAMPLE(BUCKET 3 OUT OF 64 ON userid)





INSERT OVERWRITE TABLE actions_users

SELECT u.id, actions.date

FROM (

    SELECT av.uid AS uid

    FROM action_video av

    WHERE av.date = '2008-06-03'



    UNION ALL



    SELECT ac.uid AS uid

    FROM action_comment ac

    WHERE ac.date = '2008-06-03'

    ) actions JOIN users u ON(u.id = actions.uid);





CREATE TABLE array_table (int_array_column ARRAY<INT>);





SELECT pv.friends[2]

FROM page_views pv;

SELECT pv.userid, size(pv.friends)

FROM page_view pv;





SELECT pv.userid, size(pv.friends)

FROM page_view pv;



INSERT OVERWRITE page_views_map

SELECT pv.userid, pv.properties['page type']

FROM page_views pv;





SELECT size(pv.properties)

FROM page_view pv;



FROM (

     FROM pv_users

     MAP pv_users.userid, pv_users.date

     USING 'map_script'

     AS dt, uid

     CLUSTER BY dt) map_output



 INSERT OVERWRITE TABLE pv_users_reduced

     REDUCE map_output.dt, map_output.uid

     USING 'reduce_script'

     AS date, count;





Sample map script (weekday_mapper.py )

import sys

import datetime



for line in sys.stdin:

  line = line.strip()

  userid, unixtime = line.split('\t')

  weekday = datetime.datetime.fromtimestamp(float(unixtime)).isoweekday()

  print ','.join([userid, str(weekday)])



Of course, both MAP and REDUCE are "syntactic sugar" for the more general select transform. The inner query could also have been written as



such:

SELECT TRANSFORM(pv_users.userid, pv_users.date) USING 'map_script' AS dt, uid CLUSTER BY dt FROM pv_users;









Schema-less map/reduce: If there is no "AS" clause after "USING map_script", Hive assumes the output of the script contains 2 parts: key which



is before the first tab, and value which is the rest after the first tab. Note that this is different from specifying "AS key, value" because



in that case value will only contains the portion between the first tab and the second tab if there are multiple tabs.

In this way, we allow users to migrate old map/reduce scripts without knowing the schema of the map output. User still needs to know the reduce



output schema because that has to match what is in the table that we are inserting to.

FROM (

    FROM pv_users

    MAP pv_users.userid, pv_users.date

    USING 'map_script'

    CLUSTER BY key) map_output



INSERT OVERWRITE TABLE pv_users_reduced



    REDUCE map_output.dt, map_output.uid

    USING 'reduce_script'

    AS date, count;





Distribute By and Sort By: Instead of specifying "cluster by", the user can specify "distribute by" and "sort by", so the partition columns and



sort columns can be different. The usual case is that the partition columns are a prefix of sort columns, but that is not required.

FROM (

    FROM pv_users

    MAP pv_users.userid, pv_users.date

    USING 'map_script'

    AS c1, c2, c3

    DISTRIBUTE BY c2

    SORT BY c2, c1) map_output



INSERT OVERWRITE TABLE pv_users_reduced



    REDUCE map_output.c1, map_output.c2, map_output.c3

    USING 'reduce_script'

    AS date, count;





Co-Groups

Amongst the user community using map/reduce, cogroup is a fairly common operation wherein the data from multiple tables are sent to a custom



reducer such that the rows are grouped by the values of certain columns on the tables. With the UNION ALL operator and the CLUSTER BY



specification, this can be achieved in the Hive query language in the following way. Suppose we wanted to cogroup the rows from the



actions_video and action_comments table on the uid column and send them to the 'reduce_script' custom reducer, the following syntax can be used



by the user:

FROM (

     FROM (

             FROM action_video av

             SELECT av.uid AS uid, av.id AS id, av.date AS date



            UNION ALL



             FROM action_comment ac

             SELECT ac.uid AS uid, ac.id AS id, ac.date AS date

     ) union_actions

     SELECT union_actions.uid, union_actions.id, union_actions.date

     CLUSTER BY union_actions.uid) map



 INSERT OVERWRITE TABLE actions_reduced

     SELECT TRANSFORM(map.uid, map.id, map.date) USING 'reduce_script' AS (uid, id, reduced_val);















CREATE INDEX x ON TABLE assignment(states)



AS 'org.apache.hadoop.hive.ql.index.compact.CompactIndexHandler';







-------------+







Alter table -alter table tablename rename to newtablename;



alter colomn-alter table tablename ADD comumns (doj int, emphike int);





UPDATE data_point

SET dp_name='Audit Related Fees'

WHERE dp_id=5;





date function-







Views-create view viewname on tablename select clm,clm2;where clause supported



index-create index indexname on table table name (clmname1,clmname2) as 'compact' with differed rebuild;







Create database PRAFUL;

create database PRAFUL comment 'DBname';

show databases;

use database DBNAME;

drop database dbname;

To know type of table :

describe formatted emp;

http://blogs.msdn.com/b/cindygross/archive/2013/02/06/hdinsight-hive-internal-and-external-tables-intro.aspx

create external table emp_et(empno int, ename string, job string, sal float, comm float, deptno int) row format delimited fields terminated by

',' location '/user/training/emp_mt'

create external table emp_etl(empno int, ename string, job string, sal float, comm float, deptno int)

row format

delimited fields terminated by ','

lines terminated by '\n'

stored as TEXTFILE

location '/user/training/emp_mt';







CREATE TABLE test_change (a int, b int, c int);





// First change column a's name to a1.



ALTER TABLE test_change CHANGE a a1 INT;





// Next change column a1's name to a2, its data type to string, and put it after column b.



ALTER TABLE test_change CHANGE a1 a2 STRING AFTER b;



// The new table's structure is:  b int, a2 string, c int.





// Then change column c's name to c1, and put it as the first column.



ALTER TABLE test_change CHANGE c c1 INT FIRST;



// The new table's structure is:  c1 int, b int, a2 string.



Importing the structure of another table in hive



create table emp3 as select * from empl where 1=2;



mysql -u root -p



create table emp2 like emp1;







Structure with data



create table emp3 as select * from empl;











Truncating data in hive table without truncate command;



insert overwrite table empl2 select * from empl where 1=2;











Inserting data in to a hive table



insert into table empl2 select * from empl;











Alter table



alter table empl2 add columns (bonus float);





******************* PARTITIONS ***********************







Static partions











load data local inpath '/home/training/praful/student' into table student_new partition(yop='2012');







create table st(name string, sno int) partitioned by (yop int) row format delimited fields terminated by ',';







load data local inpath '/home/training/PRAFUL/std_2011' into table st partition(yop='2011');







load data local inpath '/home/training/PRAFUL/std_2012' into table st partition(yop='2012');







Dynamic Partitions







set hive.exec.dynamic.partition.mode=nonstrict;







create table std_temp (name string, id1 int, yop int) row format delimited fields terminated by ',';







load data local inpath '/home/training/dvs/std_det' into table std_temp;







create table std_par(name string, id1 int) partitioned by (yop int) row format delimited fields terminated by ',';







show partitions std_par;







insert overwrite table ip_partition  Partition(country) select * from ip_data;







How to add partitions ?



Drop partitons ?







hive -e 'show partitions std1_part;' > partitions







hive -e 'select * from std1_part;' > sampledata







hive -f '/home/training/hivefile.txt'





 hive --version



select A.ename, B.dname, B.dloc from emp A join dept B ON (A.deptno=B.deptno);







select A.* from emp A join dept B ON (A.deptno=B.deptno);







select A.ename, A.sal, B.dname, B.dloc from emp A left outer join dept B ON (A.deptno=B.deptno);







select A.ename, A.sal, B.dname, B.dloc from emp A right outer join dept B ON (A.deptno=B.deptno);



















&&&&&&&&&&&&&&&&&&&&&&&&&&&Examples &&&&&&&&&&&&&&&&&&&&&&&&







CREATE TABLE sales (



    sales_order_id  BIGINT,



    order_amount    FLOAT,



    order_date      STRING,



    due_date        STRING,



    customer_id     BIGINT



)



PARTITIONED BY (country STRING, year INT, month INT, day INT) ;







INSERT INTO sales



PARTITION (country = 'US', year = 2012, month = 12, day = 22)



SELECT  sales_order_id,



        order_amount,



        due_date,



        customer_id,



        cntry,



        yr,



        mo,



        d



FROM    source_view



WHERE   cntry = 'US'



        AND yr = 2012



        AND mo = 12



        AND d = 22 ;







INSERT INTO sales



PARTITION (country, year, month, day)



SELECT  sales_order_id,



        order_amount,



        due_date,



        customer_id,



        cntry,



        yr,



        mo,



        d



FROM    source_view



WHERE   cntry = 'US' ;



****************************************************************



ename, substr(ename,1,4), substr(ename,5), substr(ename,-5), instr(ename,'AL'), instr(ename, 'A')



find_in_set('SMITH',ename)



select mail_id, substr(mail_id, 1, instr(mail_id,'.')-1) first_name, substr(mail_id, instr(mail_id,'.')+1, instr(mail_id,'@')-instr



(mail_id,'.')-1) last_name from email;







Number Functions :



1. Ceil, Floor, round, round(sal,2), sqrt, abs, power(10,2),



2. Aggregate Functions



                sum, min, max, avg, count




KeyboardInterrupt: ignored

In [47]:
import os
os.system("awk '!x[$0]++' file.txt > file4.txt")
os.remove('file2.txt')